{% liquid
  if customer
    assign btn_link = routes.account_profile_url
    assign btn_aria = 'customer.account_fallback' | t
  else
    assign btn_link = routes.account_login_url
    assign btn_aria = 'customer.log_in' | t
  endif

  assign is_mobile = is_mobile | default: false
%}

{%- if shop.customer_accounts_enabled and section.settings.enable_account_btn != false -%}
  <div class="header__account {% if is_mobile == true %}header__account--mobile {% endif %}">
    {% if section.settings.enable_account_modal_component %}
      <shopify-account
        menu="{{ section.settings.customer_account_menu | default: "customer-account-main-menu" }}"
        style="display: flex; align-items: center;"
      >
        <div slot="signed-out-avatar">
          {% if is_mobile != true %}
            <div
                class="header__icon header__icon--account link--text header__icon--summary focus-inset modal__toggle"
            >
                {% render 'icon-account' %}
            </div> 
          {% else %}
            <div
              class="header-mobile__account header-mobile__btn full-unstyled-link"
            >
              {% render 'icon-account' %}
            </div>
          {% endif %}
        </div>
      </shopify-account>
    {%- else -%}
      
      {% if is_mobile != true %}
        <details-disclosure>
          <details>
            <summary class="header__icon header__icon--account header__icon--summary focus-inset modal__toggle hover-opacity" aria-haspopup="dialog" role="button">
              {{ "customer.account.title" | t }}
            </summary>
            <div class="header__account-modal modal__toggle" role="dialog" aria-modal="true">
              {%- if customer -%}
                <div class="header__account__account">
                  <div class="header__account__name">{{ customer.name }}</div>
                  <ul class="header__account__body">
                    <li class="header__account__link">
                      <a href="{{ routes.account_profile_url }}" aria-label="account">
                        {{ 'customer.account.title' | t }}
                      </a>
                    </li>
                  </ul>
                  <a class="header__account__logout button button--primary" href="{{ routes.account_logout_url }}" aria-label="customer logout">
                    {{ 'customer.log_out' | t }}
                  </a>
                </div>
              {%- else -%}
                <a 
                  class="button button--primary header__account__login link  focus-inset" 
                  href="{{  btn_link }}" 
                  aria-label="{{ btn_aria }}"
                >
                  {% render 'icon-account' %}
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif 
                  -%}
                </a>
              {%- endif -%}
            </div>
          </details>
        </details-disclosure>
      {% else %}
        <a
          href="{{ btn_link }}"
          aria-label="{{ btn_aria }}"
          class="header-mobile__account header-mobile__btn full-unstyled-link"
        >
          {% render 'icon-account' %}
        </a>
      {% endif %}
          
    {%- endif -%}
  </div>
{%- endif -%}
