{{ 'section-image-tabs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'image-tabs.js' | asset_url }}" defer="defer"></script>
{% style %}
  {% render 'spaced-section' %}
  {% render 'spaced-section-inner' %}
{% endstyle %}

<div class="image-tabs section-{{ section.id }}-padding {% if section.settings.enable_border_top %}section_border_top{% endif %} {% if section.settings.enable_border_bottom %}section_border_bottom{% endif %}">
  <div class="container">
    <div class="image-tabs__wrraper">
      <div class="image-tabs__text">
        {% if section.settings.subheading != blank %}
          <div class="image-tabs__subtitle subtitle">
            {{ section.settings.subheading }}
          </div>
        {% endif %}
        <ul class="image-tabs__list">
          {% for block in section.blocks %}
            {% if block.settings.title != blank %}
              <li
                class="{% if forloop.index == 1 %}active{% endif %}"
              >
                <{{ block.settings_tag }}>
                  <a href="#image-tabs-{{ forloop.index }}">
                    {{- block.settings.title -}}
                  </a>
                </{{ block.settings_tag }}>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% for block in section.blocks %}
          {% if block.settings.desc != blank %}
            <div
              class="image-tabs__desc richtext__content"
              data-image-tabs="#image-tabs-{{ forloop.index }}"
              {% if forloop.index == 1 %}
                style="display: block"
              {% endif %}
            >
              {{ block.settings.desc }}
            </div>
          {% endif %}
          {% if block.settings.button_label != blank %}
            <div
              class="image-tabs__button-wrraper"
              data-image-tabs="#image-tabs-{{ forloop.index }}"
              {% if forloop.index == 1 %}
                style="display: block"
              {% endif %}
            >
              {% render 'button', layout: block %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="image-tabs__imgs">
        {% for block in section.blocks %}
          <div
            class="image-tabs__img"
            data-image-tabs="#image-tabs-{{ forloop.index }}"
            {% if forloop.index == 1 %}
              style="display: block"
            {% endif %}
          >
            {% if block.settings.image != blank %}
              {% assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio %}
              {{
                block.settings.image
                | image_url: width: 3840
                | image_tag:
                  loading: 'lazy',
                  width: block.settings.image.width,
                  height: image_height,
                  sizes: '100vw, (min-width: 1023px) 60vw',
                  widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              }}
            {% else %}
              {% comment %}{{ 'image' | placeholder_svg_tag }}{% endcomment %}
              {% assign index = forloop.index | modulo: 3 | plus: 1 %}
              {{ 'collection-' | append: index | placeholder_svg_tag }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-tabs.name",
  "tag": "section",
  "class": "image-tabs-section spaced-section",
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label",
      "default": "t:sections.image-tabs.settings.subheading.default"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.all.section_padding.padding_top.label"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.all.section_padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_margin.header.content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.all.section_margin.margin_top.label"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.all.section_margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.border.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_border_top",
      "default": false,
      "label": "t:sections.all.border.border_enable_top.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_bottom",
      "default": false,
      "label": "t:sections.all.border.border_enable_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "image-tab",
      "name": "t:sections.image-tabs.blocks.image-tab.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.all.heading.label",
          "default": "t:sections.image-tabs.blocks.image-tab.settings.heading.default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            },
            {
              "value": "p",
              "label": "t:sections.all.heading_tag.options__8.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_tag.label",
          "info": "t:sections.all.heading_tag.info"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "t:sections.all.text.label",
          "default": "t:sections.image-tabs.blocks.image-tab.settings.description.default"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-tabs.blocks.image-tab.settings.button.default",
          "label": "t:sections.all.button.label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.style.options__2.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.style.label"
        },
        {
          "type": "checkbox",
          "id": "button_arrow",
          "default": true,
          "label": "t:sections.all.button.arrow.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-tabs.presets.name",
      "blocks": [
        {
          "type": "image-tab"
        },
        {
          "type": "image-tab"
        },
        {
          "type": "image-tab"
        }
      ]
    }
  ]
}
{% endschema %}
