{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-products-grid.css' | asset_url | stylesheet_tag }}

<script src="{{ 'products-grid.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'spaced-section' %}
  {% render 'spaced-section-inner' %}
  #products-grid {
  	--per-row : {{ section.settings.per_row }};
  	{% if section.settings.mobile_card_count %}
  		--mobile-per-row : 2;
  	{% else %}
  		--mobile-per-row : 1;
  	{% endif %}
  }
{%- endstyle -%}

{% liquid
  assign grid_products = collections.all.products
  assign collection_handle = 'all'
  assign base_url = routes.all_products_collection_url
  assign total_shop_products = shop.products_count | default: 0

  if section.settings.collection != blank
    assign grid_products = section.settings.collection.products
    assign collection_handle = section.settings.collection.handle
    assign base_url = routes.collections_url | append: '/' | append: collection_handle
    assign total_shop_products = section.settings.collection.all_products_count
  endif

  if section.settings.product_list != blank
    assign grid_products = section.settings.product_list
    assign collection_handle = 'all'
    assign base_url = 'none'
    assign total_shop_products = section.settings.product_list.size
  endif

  assign sort = section.settings.sort

  case section.settings.sort
    when 'alphabetical'
      assign sort = 'title-ascending'
    when 'alphabetical_reversed'
      assign sort = 'title-descending'
    when 'products_high'
      assign sort = 'price-descending'
    when 'products_low'
      assign sort = 'price-ascending'
    when 'date'
      assign sort = 'created-ascending'
    when 'date_reversed'
      assign sort = 'created-descending'
    else
      assign sort = 'manual'
  endcase

  case sort
    when 'title-ascending', 'title-descending'
      assign grid_products = grid_products | sort: 'title'
    when 'price-descending', 'price-ascending'
      assign grid_products = grid_products | sort: 'price_min'
    when 'created-ascending', 'created-descending'
      assign grid_products = grid_products | sort: 'published_at'
    when 'manual'
      assign grid_products = grid_products | sort: 'manual'
    when 'best-selling'
      assign grid_products = grid_products | sort: 'manual'
  endcase

  if sort == 'price-descending' or sort == 'created-descending' or sort == 'title-descending'
    assign grid_products = grid_products | reverse
  endif

  assign is_dynamic_loading = false
  if total_shop_products > 50
    assign is_dynamic_loading = true
  elsif sort == 'manual' or sort == 'best-selling'
    if base_url != 'none'
      assign is_dynamic_loading = true
    endif
  endif

  if is_dynamic_loading and base_url != 'none'
    assign sort_params = '?sort_by=' | append: sort
    # Using Section Rendering API https://shopify.dev/docs/api/ajax/section-rendering
    assign collection_url = base_url | append: sort_params | append: '&section_id=' | append: section.id
    assign grid_products = collection.products
  else
    assign collection_url = 'none'
  endif
%}

<div
  class="products-grid section-{{ section.id }}-padding {% if section.settings.enable_border_top %}section_border_top{% endif %} {% if section.settings.enable_border_bottom %}section_border_bottom{% endif %}{% if is_dynamic_loading %} products-grid--loading{% if collection.products.size > 0 %} products-grid--search-perfomed{% endif %}{% endif %}"
  data-collection-url="{{ collection_url }}"
  data-is-dynamic-load="{{ is_dynamic_loading }}"
>
  <div class="container">
    <div class="section-grid">
      {% render 'section-header', heading_tag: section.settings.heading_tag %}

      <div class="products-grid full-width content">
        <div
          id="products-grid"
          data-id="{{ section.id }}"
          class="collection-product-list {% if section.settings.mobile_card_count %} collection-product-list-row{% endif %}"
        >
          {% if is_dynamic_loading == false or grid_products.size > 0 %}
            {%- for product in grid_products limit: section.settings.products_per_page -%}
              <div class="collection-product-card {% if settings.quickview_hover %}quickview--hover{% endif %} {{ block_class }}">
                {% render 'product-card',
                  product_card_product: product,
                  media_size: section.settings.image_ratio,
                  media_fit: section.settings.image_fit,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_desc: section.settings.show_desc,
                  section_id: section.id,
                  show_sku: section.settings.show_sku
                %}
              </div>
            {%- endfor -%}
          {% else %}
            {%- for i in (1..4) -%}
              <div class="popular-products__item_placeholder collection-popular-card collection-popular-card--placeholder">
                {% render 'product-card-placeholder',
                  media_ratio: section.settings.image_ratio,
                  show_vendor: section.settings.show_vendor,
                  index: forloop.index
                %}
              </div>
            {%- endfor -%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.products-grid.name",
  "tag": "section",
  "class": "products-grid-section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.products-grid.settings.collection.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.products-grid.settings.product_list.label",
      "info": "t:sections.products-grid.settings.product_list.info",
      "limit": 50
    },
    {
      "type": "paragraph",
      "content": "t:sections.products-grid.settings.text_about_products.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.products-grid.settings.text_about_dynamic.content"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 8,
      "label": "t:sections.products-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "per_row",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.all.column_per_row.label",
      "info": "t:sections.all.column_per_row.info"
    },
    {
      "type": "checkbox",
      "id": "mobile_card_count",
      "default": false,
      "label": "t:settings_schema.product_card.settings.mobile_card_count.label"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.products-grid.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.products-grid.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.products-grid.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.products-grid.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.products-grid.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.products-grid.settings.sort.options__6.label"
        },
        {
          "value": "manual",
          "label": "t:sections.products-grid.settings.sort.options__7.label"
        },
        {
          "value": "best-selling",
          "label": "t:sections.products-grid.settings.sort.options__8.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.products-grid.settings.sort.label",
      "info": "t:sections.products-grid.settings.sort.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "t:sections.products-grid.settings.subheading.default",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.products-grid.settings.heading.default",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__8.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header.content"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.products-grid.settings.button.default",
      "label": "t:sections.all.button.label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.link.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.product_card.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.all.product_card.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.all.sku.show_sku"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.all.product_card.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.all.product_card.show_description.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.image.ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.image.ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.image.fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image.fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image.fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 0,
      "unit": "px",
      "label": "t:sections.all.section_padding.padding_top.label"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 0,
      "unit": "px",
      "label": "t:sections.all.section_padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_margin.header.content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 20,
      "unit": "px",
      "label": "t:sections.all.section_margin.margin_top.label"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 20,
      "unit": "px",
      "label": "t:sections.all.section_margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.border.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_border_top",
      "default": false,
      "label": "t:sections.all.border.border_enable_top.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_bottom",
      "default": false,
      "label": "t:sections.all.border.border_enable_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-grid.name"
    }
  ]
}
{% endschema %}
